:root{
    --primary-color: #555555;
    --secondary-color: #303030;
    --hero-color: #9DA4BD;
    --subtitle-color: rgba(157, 164, 189, 0.6);
    --title-color: #FFFFFF;
    --active-color: #FF6C00;
}

p,
h1,
h2,
h3{
    margin: 0;
}
ul{
    margin: 0;
    padding-left: 0;
}
button{
    cursor: pointer;
}
address{
    font-style: normal;
}

img{
    display: block;
    /* width: 100%; */
}
body{
font-family: 'Open sans', sans-serif;
color: var(--primary-color);
letter-spacing: 0.1em;

}
.list{
list-style: none;}

.link{
    text-decoration: none;
    font-style: normal;
}
.container{
    width: 1200px;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;
outline: 2px solid tomato;
}

/* скритий заголовок */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

/* header */

.header{
    
}

.header-container{
display: flex;
padding-right: 17px;
padding-left: 100px;
padding-top: 40px;
align-items: center;
}

.container-nav{
display: flex;
justify-content: start;
}

.container-tel{
display: flex;
}
.nav{
   
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    color: var(--title-color)}

    .nav:hover,
    .nav:focus{
    color: var(--active-color);
    }

.tel{
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;
    color: var(--title-color);
}
.tel:hover,
.tel:focus{
    color: var(--active-color);
}
  
.button{
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--title-color);
    border: 1px solid var(--active-color);
    border-radius: 25px;
    background-color: transparent;

}

.btn-header{
    display: flex;
    min-width: 160px;
    height: 40px;
    margin-left: 43px;
    padding: 12px 20px;


}
.button:hover,
.button:focus{
background-color: var(--active-color);
}

.current{
    color: var(--active-color);
}

/* hero */

.subtitle{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--subtitle-color);
}

.hero-title{
    font-family: 'Raleway', sans-serif;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    background-color: rgba(25, 28, 38, 0.2);
    color: var(--title-color);
}

.hero-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--hero-color);
}
.hero-social{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--secondary-color);
    }
    .hero-social:hover,
    .hero-social:focus{
    color: var(--active-color);
    }

    /* About */

    .subtitle-about{
        font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        text-transform: uppercase;
        color: var(--secondary-color);
    }
    .about-title{
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 42px;
        line-height: 1.17;
        letter-spacing: 0.05em;
        color: var(--secondary-color);
    }
    .about-text{
        font-size: 18px;
        line-height: 1.67;
        letter-spacing: 0.02em;
    }

    .about-text-second{
        font-size: 14px;
        line-height: 1.86;
        letter-spacing: 0.02em;
    }

    .subtitle-prices{
        font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        text-transform: uppercase;
        color: var(--subtitle-color);
    }
    .title-prices{
    font-family: 'Raleway';
    font-size: 42px;
    line-height: 1.36;
    letter-spacing: 0.05em;
    color: var(--title-color);
    }

.prices-text{
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--hero-color);
}

.list-prices{

}
.item-prices{

}

/* benefits */

.benefits-item{

}

.digit{
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--secondary-color);
}

.benefits-text{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;
    color: var(--secondary-color);
}

.subtitle-benefits{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--secondary-color);
}

.title-benefits{
    font-family: 'Raleway';
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: var(--secondary-color);
}

.benefits-text-second{
font-size: 18px;
line-height: 1.67;
letter-spacing: 0.02em;
}
/* barbers */

.subtitle-barbers{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--secondary-color);
    
}

.title-barbers{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: var(--secondary-color);
}

.title-barbers-item{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.39;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
}

.barbers-text-item{
    font-size: 14px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--active-color); 
}

/* portfolio */

.subtitle-portfolio{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--secondary-color);
}

/* online */

.online-title{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: var(--title-color);
   }

.btn-send{

}
/* contacts */

.contacts-title{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: var(--title-color);
}
.address{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--hero-color);
}

.address:hover,
.address:focus{
    color: var(--active-color);
}

.link-map{
    font-weight: 700;
}

.link-tel{

}
.link-mail{
    text-decoration-line: underline;
}

.link-map:hover,
.link-map:focus,
.link-tel:hover,
.link-tel:focus,
.link-mail:hover,
.link-mail:focus{
    color: var(--active-color); 
}


.subtitle-contacts{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--title-color);
}

.contacts-text{
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--hero-color);  
}


/* footer */

.footer-text{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--hero-color);
}

.footer-social{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--secondary-color);
}
.footer-social:hover,
.footer-social:focus{
    color: var(--active-color);
}